@model HL_V1.Models.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User1.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User2.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User2.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
